# 🐍 Day 10 – Operators, Errors & Number Systems

Today I explored Python operators, common types of errors, and number systems like binary, decimal, octal, and hexadecimal. These are some of the most important foundational concepts in Python.

## Topics Covered:

## Types of operators

##### Arithmetic: +, -, *, /, //, %, **

##### Comparison: ==, !=, >, <, >=, <=

##### Logical: and, or, not

##### Assignment: =, +=, -=, etc.

##### Identity: is, is not

##### Membership: in, not in

## Types of errors

##### Syntax Error

##### Runtime Error

##### Logical Error

## Number systems

##### Decimal to Binary: bin(25) → 0b11001

##### Decimal to Octal: oct(25) → 0o31

##### Decimal to Hex: hex(25) → 0x19

##### Converting back to Decimal: int('11001', 2) → 25

These basics will help me avoid bugs, write better code, and understand how Python works behind the scenes.

# Operators in Python

In [1]:
# Arithmetic Operators
a = 10
b = 3
print(a + b)   # 13
print(a - b)   # 7
print(a * b)   # 30
print(a / b)   # 3.33
print(a % b)   # 1
print(a ** b)  # 1000
print(a // b)  # 3

13
7
30
3.3333333333333335
1
1000
3

In [2]:
# Comparison Operators
print(a > b)   # True
print(a == b)  # False

True
False

In [3]:
# Logical Operators
x = True
y = False
print(x and y)  # False
print(x or y)   # True
print(not x)    # False

False
True
False

In [4]:
# Assignment Operators
a += 2  # Now a is 12
print(a)

12

In [5]:
# Identity Operators
print(a is b)       # False
print(a is not b)   # True

False
True

In [6]:
# Membership Operators
mylist = [1, 2, 3]
print(2 in mylist)      # True
print(4 not in mylist)  # True

True
True

# Types of Errors in Python

In [7]:
# Syntax Error (won't run)
 print("Hello   
#  missing end quote

IndentationError: unexpected indent (3723129648.py, line 2)

In [8]:
# Runtime Error (runs but crashes)
num = 5
print(num / 0)  
# ZeroDivisionError

ZeroDivisionError: division by zero

In [9]:
# Logical Error (no crash but wrong logic)
marks = [90, 80, 70]
average = sum(marks) / 2  #  wrong logic, should be len(marks)
print("Average:", average)

Average: 120.0

# Number Systems & Conversions

In [10]:
# Decimal to Other Number Systems
num = 25
print(bin(num))  # 0b11001 → binary
print(oct(num))  # 0o31 → octal
print(hex(num))  # 0x19 → hexadecimal

0b11001
0o31
0x19

In [11]:
# Decimal to Other Number Systems
num = 25
print(bin(num))  # 0b11001 → binary
print(oct(num))  # 0o31 → octal
print(hex(num))  # 0x19 → hexadecimal

0b11001
0o31
0x19